.swipeable-list-item__leading-actions{

    background-color: orange;
    height:18vh;
    border-radius: 9.5%;
    font-style: bold;
}

.swipeable-list-item__trailing-actions {
  background-color: red;
  height:18vh;
  border-radius: 9.5%;
  text-align: center;
  font-style: bold;
}

.swipe-action{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  color: white;
}